nav {
    z-index: 1000;
    clear: both;
}
.left .profile-img img {
    width: 200px;
    margin-top: -1px;
}
.resume-container {
    background-image: linear-gradient(#636162, #b1afaf);
    height: 170vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;
}

.main {
    background-color: white;
    height: auto;
    width: 680px;
    position: absolute;
    transform: translate(-50%, -25%);
    left: 50%;
    top: 50%;
}

.left {
    background-color: #adcaac;
    width: 200px;
    height: 100%;
    float: left;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left:250px;
}

h1 {
    font-size: 32px;
}

.subtitle{
    font-size: 20px!important;
    font-style: italic;
}

.project {
font-weight: 600;
}

.project-link {
font-size: 12px;
font-weight: 100;
text-decoration: underline;
}

.tech {
    font-weight: 600;
}

.tech-list {
    font-weight: 100;
}
.cert {
    line-height: 3;
}


.profile-img{
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #adcaac;
    box-shadow: 6px 7px 9px 5px #adcaac;
    display: flex;
    align-items: center;
     justify-content: center;
    overflow: hidden;
    }
    
    .profile-img img {
        height: auto;
        border-radius: 50%;
}

.box-1{
    position: relative;
}
.heading{
    background-color: #4d4d4d;
    color: #adcaac;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading:after {
    content: ' ' ;
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 18px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1 {
    padding: 9px 10px;
    font-size: 11px;
}

 .icons1 {
    font-size: 20px!important;
    margin-right: 5px;
    padding-right: 10px!important;
    vertical-align: sub;
    }

.skill-container {
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}

.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.html {
    width: 90%;
    background-color: white;
}

.css {
    width: 90%;
    background-color: white;
}

.javascript {
    width: 80%;
    background-color: white;
}

.react {
    width: 85%;
    background-color: white;
}

.responsive {
    width: 90%;
    background-color: white;
}

.api {
    width: 75%;
    background-color: white;
}

.ui {
    width: 80%;
    background-color: white;
}

.bootstrap {
    width: 90%;
    background-color: white;
}